<nav class="navbar">
    <div class="navbar-left">
      <h1 class="navbar-title">LOAN APP</h1>
    </div>
     <div class="navbar-right">
      <% if user_signed_in?%>
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class:"btn-logout"%>
      <%else%>
              <%= button_to 'Sign in', new_user_registration_path, method: :get, class: "btn-logout" %>
            <%= button_to 'Log in', new_user_session_path, method: :get, class: "btn-logout" %>
            <%= button_to 'Log in Admin', admin_user_session_path, method: :get, class: "btn-logout" %>
      <%end%>
      </div>
  </nav>